@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap'); */
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: grey;
    width: 15vw;
    height: 100vh;
}
.sidebar nav{
    padding: 22px;
}
.sidebar nav li{
    list-style: none;
    font-size: 18px;
    padding: 20px;
}
.sidebar nav li a{
    list-style: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
}
.container{
    display: flex;
    font-family: 'Nunito', sans-serif;
}
.infoContainer{
    background-color: whitesmoke;
    height: 54vh;
    width: 80vw;
    margin: 74px auto; 
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 28px;
}
.name{
    font-size: 24px;
}
.about{
    font-size: 19px;
    font-family: 'Source Code Pro', monospace;
}
.moreabout{
    margin-top: 7px;
    margin-left: 3px;
}
.buttons{
    margin-top: 16px;
}
.buttons button{
    padding: 12px 8px;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid rgb(158, 158, 230);
    background-color: rgb(158, 158, 230);
    cursor: pointer;
    margin: 0 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.buttons button:hover{
    background-color: white;
    color: blue;
}
.devPic img{
    height: 54vh;
}